.popup-container {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
}
.popup-container > div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    background-color: white;
    padding: 1em;
}
.toolbar {
    margin-left: auto;
    margin-right: auto;
}

/*Main layout*/
#navigator {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: scroll;
}
