/* Typographics */
html{
}
body {
    font-family: Verdana,sans-serif;
}

/* UI */
.popup-container {
    position: absolute;
    top:0;
    left:0;
    width:100%;
}
div.popup-shadow {
    top:0;
    left:0;
    width:100%;
    height:100%;
    position: fixed; 
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

div.popup {
    position: relative; /*to make zindex work*/
    height: 100%;
    width: 70%;
    margin: 2em auto 0 auto;
    overflow: auto;
    background-color: white;
    padding: 0 1em 1em 1em;
    border-radius: 0.5em;
    z-index: 2;
}
.toolbar {
    margin-left: auto;
    margin-right: auto;
}
.popup-container h1 {
    margin: 0 0 0.3em 0;
    text-align: center;
    color: #888;
}

.dialog-content{
    margin: 1em 2em 2em 1em;
}
/*Main layout*/

#main{
    display: table;
    text-align: center;
    width: 100%;
}
#main-row{
    display: table-row;
}
#main-row > div{
    vertical-align: top;
    display: table-cell;    
}

#main-content{
}
#toolbar {
    text-align:center;
}
/*To position floating toolbars*/
#floating-wrapper{
    position: relative;
}
div.overlay-toolbar{
    position: absolute;
    display: inline-block;
    top: 1em;
}

#edit-button-container{
    left:1em;
}
#pan-button-container{
    right:1em;
}
span.button-group{
    padding: 0 0.5em 0 0.5em;
    border-left: solid #CCC 1px;
}
span.button-group:first-child {
    border-left: none;
    
}

#sidebar {
    width: 12em;
}

#canvas-container{
    text-align: center;
    padding: 1em;
    border: 0;
    margin: 1em;
    background-color: white;
}
#file-dialog-files{
    overflow: auto;
}

table.files-table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-collapse: collapse;
}

table.files-table th {
    text-align: left;
}
tr.files-file-row {
    border: solid 1px  silver;a
}

tr.files-file-row:hover {
    background-color: silver;
}

tr.files-grid-row, tr.files-func-row{
    border: none;
}
    
tr.files-grid-row{
    color: #03a;
    background-color: #ddd;
}
tr.files-grid-row td{
    padding: 0.1em 0 0.1em 1em;
}

tr.files-func-row{
    color: #040;
    background-color: #eee;
}
tr.files-func-row td{
    padding: 0.1em 0 0.1em 3em;
}

/*Dialog: SVG export*/
#svg-image-container {
    text-align:center;
    overflow: auto;
}
#svg-image-container img{
    border: solid 1px  silver;
}


/* Tweak controls */
.numdisplay {
    min-width: 3em;
    display: inline-block;
    text-align: right;
    background-color: #f0f0f0;
}

.control-group {
    padding: 0.5em 0;
    margin: 0;
    border-top: solid #CCC 1px;
}
.control-group:first-child {
    border-top: none;
}
div.control-table {
    display: table;
    margin-left:auto;
    margin-right:auto;
}
div.control-table > div {
    display: table-row;
}
div.control-table > div > div {
    display: table-cell;
    text-align:left;
}
button{
    margin: 0.2em 0;
    padding:0;

    display: inline-block;
    border: none;
    color: #000000;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    /*font-family: Verdana;*/
    width: auto;
    height: auto;
    font-size: 1em;
    padding: 0.5em;
    -text-shadow: 0 1px 0 #FFFFFF;
    background-color: #E0E0E0;

}

button.button-small{
    margin: 0;
    padding:0;

    display: inline-block;
    border: none;
    color: #000000;
    border-radius: 0;
    width: auto;
    height: auto;
    font-size: 1em;
    padding: 0;
    -text-shadow: 0 1px 0 #FFFFFF;
    background-color: #E0E0E0;

}

button:disabled,
button[disabled]:hover{
    background-color: #F0F0F0;
    color: #C0C0C0;
}
button:hover{
    background-color: #C0E0E0;    
}
button:active{
    background-color: #C0F0F0;    
}

button.button-active{
    background-color: #C0F0C0;    
}

button.dangerous:hover{
    background-color: #E0C0C0;    
}
button.dangerous:active{
    background-color: #F0C0C0;    
}

#state-selector button{
    color: white;
    margin: 0 0.2em;
}
#state-selector button.btn-selected{
    padding: 0.8em;
}

input{
    background-color: white;
    border: solid  1px #C0C0C0;
    padding: 0.3em 0.1em;
}

input.short {
    width:3em;
}
input.medium {
    width:4.5em;
}
input.wide {
    width: 100%;
}

#navigator-wrap {
    overflow-y: auto;
    -overflow-x: visible;
    padding-left: 0.1em;
}
#navigator table{
    border-collapse: collapse;
}
/* Navigator styles */
#navigator tr:hover{
    background-color: silver;
}
#navigator td{
    text-align: center;
    border: solid 1px  silver;
}

#navigator table a
{
    display:block;
    text-decoration:none;
    color: black;
}

textarea.code-entry {
    height: 20em;
}

/*Validating inputs*/
input.input-ok {
    color: black;
}
input.input-editing {
    color: blue;
}
input.input-bad {
    color: red;
}